.project_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    margin: auto;
    height: max-content;
}
.project_box{
    width: 100%;
    padding: 10px;
    background-color: var(--blue-Varient);
    border-radius: 0 15px 0 15px;
    border: 1px solid var(--colour-primary);
    margin: auto;
    text-align: center;
}
.project_box>h5{
    font-weight: 600;
}

.project_img{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
   
}
.project_img img{
    border-radius: 5px;
    border: 1px solid white;
}
.project_info{
    padding: 10px;
}
.project_btn{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width:max-content;
    gap: 0.2rem;
}

@media screen and (max-width: 1024px)
{
    #projects{
        height: auto;
    }
   .project_container{
    padding: 2rem;
   }
   
   .project_box{
    width: 100%;
   }
   .project_btn{
    padding: 5px;
   }
   .project_btn a{
    font-size: 0.7rem;
   }
}
@media screen and (max-width: 600px)
{
    #projects{
        height: auto;
    }
   .project_container{
    padding: 2rem;
   }
   
   .project_box{
    width: 90%;
   }
   .project_btn{
    padding: 5px;
   }
}