
.skill_container{
    border:1px solid var(--colour-primary);
    border-radius:1.2rem;
}
.skill_detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill_container:hover{
    background-color: var(--blue);
    transform: scale(1.1);
}
.icon{
    color: var(--colour-primary);
    padding: 0.5rem;
    font-size: 1.5rem;
}