.header_container{ 
    display: flex;
    flex-direction: row-reverse;
    gap: 6rem;
    overflow: hidden;
    background-color: #0b4637;
    border-radius: 0 0 8rem 8rem;
    height: max-content;
    
}

.header_info{
    width: 50%;
    top: 1rem;
}

header{
    height: 90vh;
    padding-top: 10rem; 
    overflow: hidden;
    text-align: center;
}

.BTN{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin :auto;
}

.my_img{
   margin-bottom: 10rem;
   margin-right: 8rem;
    width: 35%;
}
.my_img img{
    width: 90%;
    height: 100%;
    border: 2px solid white;
    border-radius: 10rem 0rem 10rem 0rem;
    border: 2px solid var(--blue-Varient);
}
.my_img img:hover{
    transform: scale(1.1);
}


.social_media{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
}


.scroll_down,.social_media a{
    font-size: 5ex;
}

/* ---------------------- Media query-------------------*/



@media screen and (max-width: 1024px)
{
    #home{
        top: 0rem;
    }
    .my_img{
        width: 40%;
        position: relative;
        margin: auto;
        
    }
    .my_img img{
        width: 100%;
        height: 80%;
        /* border-radius: 50%; */
        border: 2px solid var(--blue-Varient);
        align-items: center;
        
        border-radius: 1rem 1rem 4rem 4rem;
    }
    .header_container{ 
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        top: 1rem;
        overflow: hidden;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 3rem;
        
    }
    header{
        height: auto;
        padding-top: 10rem; 
        overflow: hidden;
        position: relative;
    }
    .header_info{
        width: 100%; 
        top: 1rem;
    }
    .my_img img:hover{
        transform: none;
    }
    .BTN{
        margin-top: 1rem;
        padding: 0rem;
        font-size: 15px;
        width: fit-content;
        justify-content: space-around;
    }
    .social_media{
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 600px)
{
    header{
        height: auto;
        padding-top: 10rem; 
        overflow: hidden;
        position: relative;
    }
    .header_container{ 
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .my_img{
        width: 50%;
        position: relative;
        margin: auto;
        
    }
    .my_img img{
        width: 100%;
        height: 90%;
        
        border: 1px solid white;
    }
    
    .header_info{
        width: 100%;
        top: 1rem;
    }
    .my_img img:hover{
        transform: none;
    }
}
