footer{
    padding: 2rem;
    background-color: var(--blue-Varient);
    text-align: center;
    width: 100%;
}
.footer__heading{
    font-size: 26px;
}

.nav_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 5px;
}
.nav_link a {
    padding: 0.2rem;
    text-decoration: none;
}

.footer_social a{
    padding: 10px;
    font-size: 1.6rem;
}
.copyright{
    letter-spacing: 0.2rem;
}
@media screen and (max-width: 1024px)
{
  footer{
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 600px)
{
    footer{
        margin-bottom: 5rem;
      }
}