@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Libre+Bodoni:ital@1&family=Poppins:wght@300;400;500;600&display=swap'); 

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* :root{
  --blue : #1f1f38;
  --blue-Varient: #2c2c6c;
  --colour-primary: #4db5ff;
  --colour-primary-varient: rgba(77,181,255,0.4);
  --colour-white:#fff;
  --colour-light:rgba(255,255,255,0.6);
} */
:root{
  --blue : #0C1A1A;
  --blue-Varient: #00ABE4;
  --colour-primary: #DDD0C8;
  --colour-primary-varient: #cac0b3;
  --colour-white:#fff;
  --colour-light:rgba(255,255,255,0.6);
}


body{
  font-family: 'Poppins', sans-serif;
  color: var(--colour-white);
  background: var(--blue) ;
  line-height: 1.7;
  background-image: url(./components/images/bg-texture.png);
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;;
}

.container{
  width: 75%;
  margin: 0 auto;
}

h1,h2,h3,h4,h5{
  font-weight: 600;
}

h2{
  font-size: 2.5rem;
  color: var(--colour-primary);
}

section{
  margin-top: 5rem;
  height: 100vh;
}

section h2,section>h5{
  text-align: center;
 
}

.text-light{
  color: var(--colour-light);
}

a{
  text-decoration: none;
  color: var(--colour-primary);
  transition: all 400ms ease;
}

a:hover{
  color: var(--colour-white);
}

.btn{
  width: max-content;
  display: inline-block;
  color: var(--colour-primary);
  border-radius: 0.4rem;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  border: 2px solid var(--colour-primary);
  transition: all 500ms ease;
}

.btn:hover{
  background: var(--colour-white);
  color: var(--blue);
  border-color: transparent;
}

.btn-primary{
  background: var(--colour-primary);
  color: var(--blue);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}


/* ---------------------- Media query-------------------*/

@media screen and (max-width: 600px)
{
  .container{
    width: 86%;
  }

  section>h2{
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px)
{
  .container{
    width: 60%;
  }

  section>h2{
    margin-bottom: 6rem;
  }
}